* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f5fb;
}

:root {
    --background-secondary: #ffffff;
    --color-brand: #ca3884;
    --color-brand-hover: #a52c6b;
    --color-danger: #c93847;
    --content-primary: #080b12;
    --content-secondary: #374151;
    --content-tertiary: #9ca3af;
    --border-primary: #d1d5db;
    --border-hover: #b9c2d0;

    --inter: "Inter", sans-serif;
    
    --title: bold 24px/32px var(--inter);
    --label: 600 16px/20px var(--inter);
    --paragraph: 500 16px/20px var(--inter);
    --link: 500 14px/16px var(--inter);
}

ul {
    list-style: none;
}

body {
    font: var(--paragraph);
}

a {
    text-decoration: none;
    font: var(--link);
    color: var(--color-brand);
}

h1 {
    margin-bottom: 42px;
    font: var(--title);
}